@font-face {
	font-family: roboto_light;
	src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: roboto_bold;
	src: url(../fonts/Roboto-Bold.ttf);
}

/*variables*/

$color-blue: rgb(36, 193, 247);
$color-gray: rgb(140, 162, 180);
$fontSize: 14px;